button { font-size: 18px; border: 3px solid #000028; border-bottom-width: 8px; padding: .5rem .75rem; cursor: pointer; }
button:active:not(:disabled) { transform: translateY(5px); border-bottom-width: 3px; }
button:disabled { cursor: wait; opacity: .65; }
button.primary { background: #4422a0; color: #fff; }
button.primary:hover:not(:disabled) { background: #33197c; }
button.secondary { background: #cdc3ec; color: #18102e; }
button.secondary:hover { background: #baaedf; }
